
#menu {

  .menu-price-container {
    display:flex;
    flex-direction: column;
    font-size: 18px;
   
    &--c {
      display:grid;
      grid-template-columns: 1.5fr 0.7fr 0.7fr 3fr;

     p {
       padding: 1rem 10px;
       border-bottom: 1px solid silver;
     }
    } 
    
    @media (max-width: 760px) {
      font-size: 14px;
    }



  }

}
