

#service {
  color: black;
  color: white;
  // background-color: rgba(202, 172, 126, 0.575);
  background-color: $color-middium;
 
}
.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  

  &--c {
    width: 400px;
    height: auto;
    margin: 1.5rem 0;


    h3 {
      font-size:24px;
      padding-bottom: 0.2rem;
      text-align: center;
    }
    img {
      width: 100%;
      // border-radius: 5px;
    }
    p {
      font-size:16px;
    }
  }

  
}
